<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">column 1</section>
        <section class="col">column 2</section>
        <section class="col">column 3</section>
    </div>
</footer>