<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css style -->
    {% block stylesheets %}
    {# commmentaire twig invisible dans le navigateur #}
    {# asset() est une fonction de twig pour indiquer que la path est dans le fichier "public" #}
    <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
    {% endblock %}

    <!-- JS files -->
    {% block javascripts %}
    {#If the defer attribute is set, it specifies that the script is downloaded in parallel to parsing the page, and
    executed after the page has finished parsing.#}
    {#The defer attribute is only for external scripts (should only be used if the src attribute is present).#}
    <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
    <script src="{{asset('assets/js/scripts.js')}}" defer></script>
    {% endblock %}
</head>

<body>
    {% include "_blocks/_nav.html.twig" %}
    {% block body %}{% endblock %}
    {% include "_blocks/_footer.html.twig" %}
</body>

</html>