<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <h1>Ma page de contact - {{id}}</h1>
    <!-- <a href="/test">go to test</a> -->
    <a href="{{path('app_test')}}">go to test</a>
</body>

</html>