<h1>
    <!-- {{'main page' | upper}} -->
    {{'main page' | title}}

</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, corporis voluptas magnam voluptatum ut ipsa ex
    voluptatem dolore dolor consequatur qui officiis velit ipsum blanditiis ab dignissimos recusandae cumque molestiae!
<ul>
    <li>nom {{name}}</li>
    <li>age {{age}}</li>
</ul>
</p>