{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>ERROR 403</h1>
            <p>forbidden access</p>
        </div>
    </section>
</main>
{% endblock %}